.area {
    padding-top: 8rem;
}

.area .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    align-items: center;
    gap: 10rem;
}

.area h2 {
    margin-bottom: 2rem;
}


.area p+p {
    margin-top: 2rem;
}

.area .col-image {
    /* aspect-ratio: 5/3; */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 5px #ccc;
    background-color: #eee;
    border: 1px solid #ccc;
}

.area .col-image p {
    font-size: 4rem;
    color: #999;
}


/* Work */


.work .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.work .row .card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    border-radius: .4rem;
    padding: 4rem 1rem;
    transition: .4s;
    border-radius: .4rem;
}

.work .row .card-icon i {
    background-color: #333;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: .8rem;
    margin-top: 1rem;
    transition: .4s;
    color: #eee;
}

.work .row .card p {
    font-size: 1.4rem;
    margin-top: 1rem;
    color: #555;
}