* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-family: Poppins;
}

html {
    overflow-x: none;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Light.otf");
}

:root {
    --body-background: #eee;
    --text-color: #09192f;
    --text-color-light: #12223e;
    --color: #3df5d6;
}

body {
    overflow-x: none;
    color: var(--text-color);
    font-size: 1.6rem;
    background-color: var(--body-background);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 2rem;
}



img {
    display: block;
    max-width: 100%;
}

p {
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.btn {
    cursor: pointer;
    color: #eee;
    padding: .4rem .8rem;
    font-size: 1.4rem;
    transition: .4s;
    background-color: var(--text-color);
}

.btn:hover {
    background-color: var(--text-color-light);
}

.btn:hover i {
    color: var(--color);
}


img {
    display: block;
    width: 100%;
    height: 100%;
}

section h2 {
    font-size: 4.8rem;
}

section .row {
    margin-top: 5rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
}


/* ------ Header ------ */

.header {
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 0px 5px #eee;
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo a {
    font-size: 3rem;
    color: var(--text-color);
}

.header .nav-links {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.header .nav-links a {
    color: var(--text-color);
    transition: .4s;
}

.header .nav-links a:hover {
    transition: .4s;
}

.header .nav-links a.btn {
    width: 12rem;
    text-align: center;
}

/* Section Home */

section.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


section.home .container {
    display: flex;
}

section.home .container .wrapper-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
    align-items: flex-start;
}

section.home h1 {
    font-size: 4.8rem;
    font-family: serif;
}

section.home h2 {
    font-size: 3.6rem;
    font-family: serif;
    color: var(--color);
}

section.home p {
    max-width: 50rem;
    color: #555;
}

section.home .btn {
    font-size: 1.6rem;
    padding: 1.2rem 3.2rem;
}




/* Section About */

section.about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #09192f;
    color: #eee;
}

section.about .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

section.about .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    width: 100%;
    align-items: center;
    gap: 10rem;
}

section.about .row .wrapper {
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem;
}

section.about .row .wrapper img {
    margin: auto;
}

section.about p+p {
    margin-top: 1rem;
}




/* Team */



.team .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}

.team .card {
    box-shadow: 1px 1px 5px #ccc;
    border: 1px solid #ccc;
    padding: 1rem;
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 1rem;
    background-color: #fff;
    max-height: 20rem;
}

.team .card .card-image {
    width: 100%;
    background-color: #eee;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px #ccc;
    border: 1px solid #ccc;
    overflow: hidden;
}


.team .card .card-image p {
    font-size: 3rem;
    color: #999;
}

.team .card .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 100%;
}

.team .card .card-body h3 {
    font-weight: bold;
}

.team .card .card-body h4 {
    font-size: 1.2rem;
}

.team .card .card-body p {
    color: #666;
    font-size: 1.4rem;
}

.team .card .social-media {
    display: flex;
    /* margin-top: .8rem; */
    gap: .8rem;
}

.team .card .social-media a {
    background-color: var(--text-color);
    color: #eee;
    width: 3.2rem;
    height: 3.2rem;
    text-align: center;
    line-height: 3.2rem;
    border-radius: .4rem;
}




/* services */

.services {
    padding: 10rem 0;
}

.services .row {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    justify-content: center;
}

.services .row .card {
    display: flex;
    gap: 4rem;
    box-shadow: 1px 1px 5px #ccc;
    padding: 4rem 1rem;
    background-color: #fff;
}

.services .row .card-image {
    aspect-ratio: 5/3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 5px #ccc;
    background-color: #eee;
    border: 1px solid #ccc;
}

.services .row .card-image p {
    font-size: 4rem;
    color: #999;
}

.services .row .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    padding: 2rem;
    width: 50%;
    gap: 2rem;
}

.services .row .card-body h3 {
    font-size: 3.2rem;
    position: relative;
}

.services .row .card-body h3::before {
    content: "";
    height: .4rem;
    width: 105%;
    background-color: var(--color);
    position: absolute;
    bottom: -.1rem;
    left: 0;
}

.services .row .card-body .description {
    background-color: #12223e;
    padding: 2rem;
    position: relative;
    width: 65rem;
    box-shadow: 0px 0px 3px #12223e;
    color: var(--color);
    color: #fff;
}


.services .row .card-body .links a {
    padding: 1.2rem 3.2rem;
}

.services .row .card-body .links a:hover {
    color: var(--color);
}

.services .row .card:nth-child(2n) .card-body {
    order: -1;
    align-items: flex-start;
    text-align: left;
}



/* Contact */


.contact .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
    align-items: center;
}

.contact .wrapper-image {
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: center;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .container form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.contact form .box {
    width: 100%;
}

.contact .form-control {
    display: block;
    height: 4rem;
    background-color: #fff;
    outline: none;
    width: 100%;
    color: var(--text-color);
    padding: 1rem;
    border: 1px solid #ccc;
}

.contact .form-control::placeholder {
    color: #dedede;
}

.contact textarea.form-control {
    height: 20rem;
}

.contact .btn {
    height: 4rem;
    width: 16rem;
}


/* Footer */

.footer {
    background-color: #fff;
    text-align: center;
}

.footer .top .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    color: #eee;
    text-align: left;
    gap: 1rem;
}

.footer .top .row .col {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.footer .top {
    background-color: #09192f;
    padding: 5rem 0;
}

.footer .top h3 {
    margin-bottom: .8rem;
    font-size: 2rem;
}

.footer .top h4 {
    margin-bottom: .8rem;
}

.footer .top a,
.footer .top p {
    color: #ccc;
    font-size: 1.4rem;
}

.footer .top a+a {
    margin-top: .4rem;
}

.footer .top i.fa-angle-right {
    margin-right: .8rem;
    color: var(--color);
}


.footer .top a:hover {
    text-decoration: underline;
    transition: .4s;
}

.footer .top a i {
    color: #fff;
    transition: .4s;
}

.footer .top a.btn i:hover {
    transform: rotate(360deg);
    transition: .4s;
}


.footer .top nav {
    margin-top: 1rem;
    display: flex;
    gap: .8rem;
}


.footer .top nav a {
    border-radius: .4rem;
    background-color: #0d274b;
}

.footer .bottom {
    padding: 2rem 0;
}


@media screen and (max-width: 768px) {

    html {
        font-size: 55%;
    }

    section.home .wrapper-image {
        display: none;
    }

    .hamburger {
        display: block;
    }


    .header .nav-links {
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 2rem;
        padding-right: 4rem;
        font-size: 3.2rem;
        width: 28rem;
        opacity: 0;
        visibility: hidden;
        top: .4rem;
        right: .8rem;
        position: fixed;
        height: 48rem;
        transition: .4s;
        border: 1px solid #ccc;
    }

    .header .nav-links.show {
        opacity: 1;
        visibility: visible;
        transition: .4s;
    }

    .header .nav-links a:hover {
        transform: translateX(-1rem);
    }

    section.about .row .wrapper:nth-child(2) {
        order: -1;
    }

    section .container {
        padding: 4rem 2rem;
    }

    .services .row {
        gap: 4rem;
    }

    .services .row .card {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .services .row .card-image {
        aspect-ratio: 5/3;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 1px 1px 5px #ccc;
        background-color: #eee;
        border: 1px solid #ccc;
    }

    .services .row .card-img img {
        height: 100%;
        width: 100%;
    }

    .services .card .card-body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        gap: 3rem;
    }

    .services .card .card-body .description {
        width: 100%;
    }

    .services .row .card:nth-child(2n) .card-body {
        order: initial;
        align-items: center;
        text-align: center;
    }

}

@media screen and (max-width: 500px) {

    html {
        font-size: 50%;
    }

    section.home h1 {
        font-size: 3.6rem;
        font-family: serif;
    }

    section {
        height: auto;
    }

    section h2 {
        font-size: 3.2rem;
    }

    section.home .container {
        padding: 2rem;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    section.home .container .wrapper-text {
        align-items: center;
    }

    section.home .btn {
        margin: auto;
    }

    section.about .row {
        gap: 2rem;
    }


}